*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  background-color: #070d1a !important;
  color: #e2e8f0;
  min-height: 100vh;
  font-family: 'DM Mono', monospace;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #0a1628;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 2px;
}
